.menu-wrap  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 60px;
    width: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */

.menu-wrap .hamburger > div{
    position: relative;
    flex: none;
    width: 100%;
    padding: 1px;
    background: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .hamburger > div::after{
    top: 10px;
}

/* toggle animation */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}

/* .menu-wrap .toggler:hover + .hamburger > div{
    transform: rotate(-90deg);
} */

.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;

}

.menu-wrap .menu{
    position: fixed;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* scale to 0 to realize the effect */
.menu-wrap .menu > div{
    background:var(--overlay-color);
    width: 500vw;
    height: 500vw;
    border-radius: 50%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1.2rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.menu-wrap .menu > div > div > ul > li > a:hover{
    color: rgba(229,148,0,0.9);
}

.menu-wrap .toggler:checked ~ .menu > div{
    opacity: 1;
    transform: scale(1);
}

.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

