
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.5 em;
}

/* Utiities */

.container{
    max-width: 1000px;
    margin: auto;
    overflow: auto;
    padding: 0px 20px;
}

.main-text {
    font-family: 'Montserrat', non-serif;
}

a {
    text-decoration: none;
    color: #333;
}

.btn{
    padding: 20px;
}

.blue-text {
    color: #005091;
}

/* navbar */
#navbar {
    overflow: auto;
}

#navbar h1{
    float: left;
    padding: 20px;
}

#navbar ul{
    margin-top: 10px;
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul a{
    color: #333;
    padding: 20px;
    text-align: center;
}

#navbar ul a:hover,
#navbar ul li a.current{ 
    color: #005091;
    background-color: #ddd;
    pointer-events: visible;
}

/* footer */
#footer-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}


